* {
    padding: 0;
    margin: 0;
}

header {
    height: 75vh;
    border: 5px solid green;
}

/* navbar */
.navbar {
    background-color: black;
    height: 8%;
    border: 5px solid red;
}

.navbar ul {
    list-style-type: none;
    border: 2px solid yellow;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar ul li {
    display: inline-block;
    color: white;
}

/* header-section */
.header-section {
    background-image: url(./images/bg-img.jpg);
    height: 92%;
    background-size: cover;
}

/* gallery-section */
.gallery {
    height: 67vh;
    padding-left: 0.8%;
}

.images {
    display: inline-block;
    width: 32%;
    height: 90%;
    margin-left: 0.5%;
    margin-top: 22px;
    margin-bottom: auto;
}

.gallery-img {
    width: 100%;
    height: 100%;
}

/* footer */
footer {
    height: 67vh;
    background-color: black;
    border: 5px solid green;
}

.foot-section {
    height: 85%;
    width: 90%;
    margin: 2% auto 3% auto;
    /* margin: auto auto; */
    border: 5px solid red;
}

.foot-text, .foot-img {
    display: inline-block;
}

.foot-text {
    color: white;
    width: 40%;
}

.foot-img {
    background-size: cover;
    height: 60%;
    border: 5px solid red;
    overflow: hidden;
    width: 49%;
    margin-left: 5%;
}

.foot-pic {
    background-size: cover;
    max-width: 100%;
}

